html a{
  outline: none;
}

body{
  background: url('/img/halftone/halftone.png');
  background-repeat: repeat; 
  margin: 0;
  padding: 0;
  font-family: Trebuchet, Verdana, sans-serif;
}


#navbar{
  background-color: #27AE60;
  color: #0F0D0B;
  width: 100%;
  font-weight:bold;
  border-bottom: thin solid #9B9792;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  font-family: 'Open Sans Condensed', sans-serif;
  
}

#logo{
  height: 150px;
}

.pagelink{
  margin: 0px 10px 0px 10px;
  font-size: 32px;
  color: #ECF0F1;
  text-decoration: none;
}

.center{
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#mission{
  min-width: 800px;
  max-width: 1200px;
  font-size: 24px;
  margin-left: 50px;
  margin-top: 10px;
  padding-left: 25px;
  padding-bottom: 25px;
  border-left: 4px solid red;
}

#description{
  margin: 10px 0px 10px 0px;
  font-size: 18px;
  min-width: 800px;
  max-width: 1200px;
}

.design_principles{
  min-width: 800px;
  max-width: 1200px;
  margin: 10px 0px 10px 0px;
  font-size: 14px;
  border: none;
}

.des_title{
  font-weight: bold;
  font-size: 18px;
  display: block;
}

#about_us{
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.member{
  height: 200px;
  width: 200px;
  margin: 10px;
}

/*Story CSS*/

.story_tab{
  width: 300px;
  margin: 25px 0px 25px 0px;
  font-size: 27px;
  border-right: 0px;
  padding: 5px 0px 10px 15px;
  background-color: #BDC3C7;
}

.link-fix{
  text-decoration: none;
}
