---
layout: default
title: Project Ideas
---
<div class="center">
 <!--
  <div id="entries">
    {% for post in site.posts %}
      {% if post.flag == "solution" %}
   
        <div class="idea">
          <a href="#{{ post.anchor }}" id="postlink">
            <img class="post_image" src="{{ post.image }}"/>
            <h3>{{ post.title }}</h3>
          </a>
       </div>
      {% endif %}
    {% endfor %}
  </div> 
-->

  <h4> Project Ideas </h4>
    The Summer 2014 team has generated 4 project ideas that we believe are worthwhile for the SCOPE team(s) to pursue. The four ideas are, in no particular order:
    <ul>
      <li><a href="#windshield" class="idea_link">Smart Windshield</a></li>
      <li><a href="#road_network" class="idea_link">Road-based Social Network</a></li>
      <li><a href="#add_ons" class="idea_link">Modular Add-ons</a></li>
      <li><a href="#jarvis" class="idea_link">Jarvis for your Car</a></li>
    </ul>

  <div id="idea_filled">
    {% for post in site.posts %}
      {% if post.flag == "solution" %}
     
      <div class="idea_description" id="{{post.anchor}}">
          <h3>{{ post.title }}</h3>
          <img class="post_image_big" src="{{ post.image }}"/>
          <div class="details">
            {{post.content}}
          </div>
     </div>

      {% endif %}
    {% endfor %}

  </div>

  <div class="story_tab">
    <a href="mailto:santosresearch2014@gmail.com" class="link-fix"> Join the Conversation &#8594;
    </a> 
  </div>
</div>