---
layout: default
title: Project Ideas
---
<div class="center">
  <div id="entries">
    {% for post in site.posts %}
      {% if post.flag == "solution" %}
   
        <div class="idea">
          <a href="#{{ post.anchor }}" id="postlink">
            <img class="post_image" src="{{ post.image }}"/>
            <h3>{{ post.title }}</h3>
          </a>
       </div>
      {% endif %}
    {% endfor %}
  </div> 

  <div id="idea_filled">
    {% for post in site.posts %}
      {% if post.flag == "solution" %}
     
      <div class="idea_description" id="{{post.anchor}}">
          <h3>{{ post.title }}</h3>
          <img class="post_image_big" src="{{ post.image }}"/>
          <div class="details">
            {{post.content}}
          </div>
     </div>

      {% endif %}
    {% endfor %}

  </div>

  <div class="story_tab">
    <a href= "/contact_us/" class="link-fix"> Join the Conversation &#8594;
    </a> 
  </div>
</div>