<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8/>
		<title> {% if page.title %} {{page.title}} | {% endif %} Santos Foundation SCOPE</title>
		<link rel ="stylesheet" href="/css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>



		<script type="text/javascript" src="Chart.js-master/Chart.js"></script>
 		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</head>

	<body onLoad="init()">
		<div id= "navbar">
			<a href="/" class="nav_flex pagelink"> OVERVIEW </a> 
			<a href="/journey/" class="nav_flex pagelink"> JOURNEY </a> 
			<a href="/portfolio/" class="nav_flex pagelink"> PROJECT IDEAS </a>				
			<a href="mailto:santosresearch2014@gmail.com" class="nav_flex pagelink"> E-MAIL US</a>
			<img id="logo" src="/img/logo.png" height="250"/>
		</div>

		<div id= "content">

		{{ content }}

		</div>

</body>

</html>